<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>num</key>
		<string>A</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>11</integer>
		<key>sprite</key>
		<string>imageAP</string>
	</dict>
	<dict>
		<key>num</key>
		<string>A</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>11</integer>
		<key>sprite</key>
		<string>imageAD</string>
	</dict>
	<dict>
		<key>num</key>
		<string>A</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>11</integer>
		<key>sprite</key>
		<string>imageAC</string>
	</dict>
	<dict>
		<key>num</key>
		<string>A</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>11</integer>
		<key>sprite</key>
		<string>imageAT</string>
	</dict>
	<dict>
		<key>num</key>
		<string>2</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>2</integer>
		<key>sprite</key>
		<string>image2P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>3</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>3</integer>
		<key>sprite</key>
		<string>image3P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>4</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>4</integer>
		<key>sprite</key>
		<string>image4P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>5</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>5</integer>
		<key>sprite</key>
		<string>image5P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>6</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>6</integer>
		<key>sprite</key>
		<string>image6P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>7</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>7</integer>
		<key>sprite</key>
		<string>image7P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>8</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>8</integer>
		<key>sprite</key>
		<string>image8P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>9</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>9</integer>
		<key>sprite</key>
		<string>image9P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>10</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>image10P</string>
	</dict>
	<dict>
		<key>num</key>
		<string>J</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageJP</string>
	</dict>
	<dict>
		<key>num</key>
		<string>Q</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageQP</string>
	</dict>
	<dict>
		<key>num</key>
		<string>K</string>
		<key>palo</key>
		<string>pica</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageKP</string>
	</dict>
	<dict>
		<key>num</key>
		<string>2</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>2</integer>
		<key>sprite</key>
		<string>image2D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>3</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>3</integer>
		<key>sprite</key>
		<string>image3D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>4</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>4</integer>
		<key>sprite</key>
		<string>image4D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>5</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>5</integer>
		<key>sprite</key>
		<string>image5D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>6</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>6</integer>
		<key>sprite</key>
		<string>image6D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>8</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>8</integer>
		<key>sprite</key>
		<string>image8D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>9</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>9</integer>
		<key>sprite</key>
		<string>image9D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>10</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>image10D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>J</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageJD</string>
	</dict>
	<dict>
		<key>num</key>
		<string>Q</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageQD</string>
	</dict>
	<dict>
		<key>num</key>
		<string>K</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageKD</string>
	</dict>
	<dict>
		<key>num</key>
		<string>7</string>
		<key>palo</key>
		<string>diamante</string>
		<key>blackjackValue</key>
		<integer>7</integer>
		<key>sprite</key>
		<string>image7D</string>
	</dict>
	<dict>
		<key>num</key>
		<string>2</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>2</integer>
		<key>sprite</key>
		<string>image2C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>3</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>3</integer>
		<key>sprite</key>
		<string>image3C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>4</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>4</integer>
		<key>sprite</key>
		<string>image4C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>5</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>5</integer>
		<key>sprite</key>
		<string>image5C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>6</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>6</integer>
		<key>sprite</key>
		<string>image6C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>7</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>7</integer>
		<key>sprite</key>
		<string>image7C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>8</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>8</integer>
		<key>sprite</key>
		<string>image8C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>9</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>9</integer>
		<key>sprite</key>
		<string>image9C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>10</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>image10C</string>
	</dict>
	<dict>
		<key>num</key>
		<string>J</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageJC</string>
	</dict>
	<dict>
		<key>num</key>
		<string>Q</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageQC</string>
	</dict>
	<dict>
		<key>num</key>
		<string>K</string>
		<key>palo</key>
		<string>corazon</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageKC</string>
	</dict>
	<dict>
		<key>num</key>
		<string>2</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>2</integer>
		<key>sprite</key>
		<string>image2T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>3</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>3</integer>
		<key>sprite</key>
		<string>image3T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>4</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>4</integer>
		<key>sprite</key>
		<string>image4T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>5</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>5</integer>
		<key>sprite</key>
		<string>image5T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>6</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>6</integer>
		<key>sprite</key>
		<string>image6T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>7</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>7</integer>
		<key>sprite</key>
		<string>image7T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>8</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>8</integer>
		<key>sprite</key>
		<string>image8T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>9</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>9</integer>
		<key>sprite</key>
		<string>image9T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>10</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>image10T</string>
	</dict>
	<dict>
		<key>num</key>
		<string>J</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageJT</string>
	</dict>
	<dict>
		<key>num</key>
		<string>Q</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageQT</string>
	</dict>
	<dict>
		<key>num</key>
		<string>K</string>
		<key>palo</key>
		<string>trebol</string>
		<key>blackjackValue</key>
		<integer>10</integer>
		<key>sprite</key>
		<string>imageKT</string>
	</dict>
</array>
</plist>
